services:
  - type: web
    name: chatapp-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: NODE_ENV
        value: production
      - key: CLIENT_ORIGIN
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
      - key: MONGO_URI
        sync: false
